<div class="product-list product-list--grid"> {# product-list--grid | product-list--rows #}

    {% for page in pages("eshop")|sort_by("time")|reverse if not page.hidden %}

        <div class="product-item-wrapper">
            <div class="product-item">
                {% if (page.meta.variants > 1) or page.meta.favourite or page.meta.used %}
                    <div class="product-item__labels">
                        {% if page.meta.favourite %}
                            <div class="product-item__label product-item__label--favourite">Populární</div>
                        {% endif %}
                        {% if page.meta.used %}
                            <div class="product-item__label product-item__label--used">Použité</div>
                        {% endif %}
                        {% if page.meta.variants > 1 %}
                            <div class="product-item__label product-item__label--variants">{{ page.meta.variants }}{% if page.meta.variants < 5 %} varianty{% else %} variant{% endif %}</div>
                        {% endif %}
                    </div>
                {% endif %}
                
                {% if page.meta.discount %}
                    <div class="product-item__discount">{{ page.meta.discount }}</div>
                {% endif %}

                
                <a class="product-item__thumbnail" href="{{ page.url }}" aria-label="Název produktu">
                    <div class="product-item__img-wrapper">
                        {% if page.meta.image %}
                            <img class="product-item__img" src="{{ assets_url }}/{{ page.meta.image }}" alt="">
                        {% else %}
                            <i class="product-item__icon item-placeholder las la-box"></i>
                        {% endif %}
                    </div>
                </a>
                
                <h2 class="product-item__title"><a class="product-item__title-link" href="{{ page.url }}">{{ page.meta.title }}</a></h2>
                {% if page.meta.perex %}
                    <p class="product-item__description">{{ page.meta.perex }}</p>
                {% endif %}

                {% set stock = page.meta.stock %}
                {% if stock %}
                    <div class="product-item__stock product-item__stock--{{ stock }}">
                        {% if stock == "instock" %}
                            {{ "Skladem" }}
                        {% elseif stock == "coming" %}
                            {{ "Na cestě" }}
                        {% elseif stock == "atsupplier" %}
                            {{ "U dodavatele" }}
                        {% elseif stock == "bespoke" %}
                            {{ "Na zakázku" }}
                        {% elseif stock == "soldout" %}
                            {{ "Vyprodáno" }}
                        {% elseif stock == "unknown" %}
                            {{ "Nedostupné" }}
                        {% endif %}
                    </div>
                {% endif %}

                <div class="product-item__price">
                    <div class="product-item__price-label">Cena</div>
                    {% if page.meta.price_old %}
                        <div class="product-item__price-old-wrapper">
                            <div class="product-item__price-old">{{ page.meta.price_old }}</div>
                        </div>
                    {% endif %}
                    <div class="product-item__price-current-wrapper">
                        <div class="product-item__price-current">{{ page.meta.price }}</div>
                        <div class="product-item__price-vat-info">
                            {% if page.meta.incl_vat == true %}
                                {{ "s DPH" }}
                            {% else %}
                                {{ "bez DPH" }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <button class="product-item__cart-button">
                    <i class="las la-shopping-basket product-item__cart-button-icon"></i>
                    <div class="product-item__cart-button-label">Do košíku</div>
                </button>
            </div>
        </div>

    {% endfor %}
</div>