{% extends "base.twig" %}

{% block content %}
    {# {{ content }} #}
    <div class="container">

        <div class="section section--header">
            <h1>Blog</h1>
        </div>

        {# <div class="perex">
            <div class="perex__image-wrapper">
                <img class="perex__image" src="https://i.picsum.photos/id/473/500/500.jpg?hmac=P__oi_XX4pWMJPlt1IJOqvsPEG7FT4-xQ6Msu55c2io" alt="">
            </div>
            <div class="perex__text-wrapper">
                <p class="perex__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nesciunt voluptatibus, doloremque et cumque placeat tenetur nisi dignissimos excepturi nobis odit architecto velit. Ratione a itaque sunt, natus dolor sint!</p>
            </div>
        </div> #}

        <div class="row articles">
            {% for page in pages("clanky")|sort_by("time")|reverse if not page.hidden %}

                <div class="article-item-wrapper">

                    <article class="article-item">

                        <a class="article-item__thumbnail" href="{{ page.url }}" aria-label="Název článku">
                            <div class="article-item__img-wrapper">
                                {% if page.meta.image %}
                                    <img class="article-item__img" src="{{ assets_url }}/{{ page.meta.image }}" alt="">
                                {% else %}
                                    <i class="article-item__icon item-placeholder las la-newspaper"></i>
                                {% endif %}
                            </div>
                        </a>

                        <h3 class="article-item__title">
                            <a class="article-item__title-link" href="{{ page.url }}">{{ page.title }}</a>
                        </h3>
                        
                        <div class="article-item__details">
                            <span class="article-item__date">{{ page.date_formatted|date("j. n. Y") }}</span>
                            <span class="article-item__section">
                                <span class="article-item__section-icon"><i class="las la-newspaper"></i></span>
                                <span class="article-item__section-label">Rubrika</span>
                                <span class="article-item__section-title"><a class="article-item__section-link" href="#">{{ page.meta.section }}</a></span>
                            </span>
                            <span class="article-item__comments">
                                <span class="article-item__comments-icon"><i class="las la-comments"></i></span>
                                <span class="article-item__comments-label">Komentáře</span>
                                <span class="article-item__comments-number">{{ page.meta.comments }}</span>
                            </span>
                        </div>

                        {% if page.meta.perex %}
                            <p class="article-item__perex">{{ page.meta.perex }}</p>
                        {% endif %}

                    </article>

                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
