{% extends "base.twig" %}

{% block content %}
    <div class="container container--cart">
        <section class="section section--header">
            <h1>Děkujeme za Vaši objednávku.</h1>
            <p>Vaše objednávka byla úspěšně dokončena a&nbsp;bude v&nbsp;nejbližší době zpracována. Na Váš e-mail byl nyní zaslán celkový souhrn objednávky.</p>
        </section>

        <div class="cart-form__row">
            <div class="col">
                <div class="cart-form__card">
                    {# platba online (1—3 moznosti) #}
                    <h2 class="cart-form__title">Zvolte způsob platby</h2>
                    <div class="payment-options">
                        <div class="payment-options__item">
                            <a class="payment-options__link" href="#" title="On-line platba přes platební bránu GoPay (platební karta)">
                                <img class="payment-options__img" src="{{ assets_url }}/order/payment_card.svg" width="48" height="48" alt="GoPay (platební karta)">
                                <span class="payment-options__title">platební karta</span>
                            </a>
                        </div>
                        <div class="payment-options__item">
                            <a class="payment-options__link" href="#" title="On-line platba přes platební bránu GoPay (bankovní převod)">
                                <img class="payment-options__img" src="{{ assets_url }}/order/bank_account.svg" width="48" height="48" alt="GoPay (bankovní převod)">
                                <span class="payment-options__title">bankovní převod<span>
                            </a>
                        </div>
                        <div class="payment-options__item">
                            <a class="payment-options__link" href="#" title="On-line platba přes platební bránu GoPay (mobilní platba)">
                                <img class="payment-options__img" src="{{ assets_url }}/order/mpayment.svg" width="48" height="48" alt="GoPay (mobilní platba)">
                                <span class="payment-options__title">mobilní platba<span>
                            </a>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="cart-form__card">
                    {# zpusob a stav doruceni (u zasilkovny adresa), odkaz na stav u dorucovatele #}
                    <h2 class="cart-form__title">Způsob doručení</h2>
                        <div class="cart-form__delivery-info">
                            <p>Doručení dopravcem <a href="#" target="_blank">Zásilkovna CZ</a><br>
                            na adresu <span>Praha 2, Rumunská 28, Antikvariát Vinohradská, v&nbsp;suterénu</span></p>
                        </div>
                    <a class="cart-form__delivery-status" href="#" target="_blank">
                        <span class="cart-form__delivery-label">Stav zásilky u&nbsp;dopravce</span>
                        <img class="cart-form__delivery-icon" src="{{ assets_url }}/order/zasilkovna.svg" width="128" height="45" alt="Zásilkovna CZ (výdejna)">
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="cart-form__card">
                    {# stav objednavky (objednano, vyrizuje se, zaplaceno, odeslano, vyrizeno, stornovano) #}
                    <h2 class="cart-form__title">Stav objednávky</h2>
                    <div class="cart-form__order-status active"><span class="cart-form__order-status-date">28. 10. 2021</span> <span class="cart-form__order-status-value">vyřízeno</span></div>
                    <div class="cart-form__order-status"><span class="cart-form__order-status-date">26. 10. 2021</span> <span class="cart-form__order-status-value">zaplaceno</span></div>
                    <div class="cart-form__order-status"><span class="cart-form__order-status-date">26. 10. 2021</span> <span class="cart-form__order-status-value">objednáno</span></div>
                </div>
            </div>
        </div>

        

        

        

        <br>

        <h2 class="cart-form__title">Objednané zboží</h2>
        <table class="cart-table cart-table--summary" id="cart">
            <thead>
                <tr>
                    <th class="cart-table__th cart-table__th--product">Produkt</th>
                    <th class="cart-table__th cart-table__th--qty">Počet</th>
                    <th class="cart-table__th cart-table__th--price-no-vat">Cena bez DPH</th>
                    <th class="cart-table__th cart-table__th--price-vat">Cena s DPH</th>
                    <th class="cart-table__th"></th>
                </tr>
            </thead>
            <tbody>
                
                <tr class="cart-table__tr cart-table__tr--product">
                    <td class="cart-table__td cart-table__td--product">
                        <div class="cart-table__product">
                            <a class="cart-table__img-link" href="">
                                <img class="cart-table__img" src="{{ assets_url }}/products/fotak1.jpg" alt="">
                            </a>
                            <div class="cart-table__description cart-table__description">
                                <a class="cart-table__link" href="">Nikon D7000 + 18-140mm VR</a>
                                <div class="cart-table__unit-price-wrapper">
                                    <span class="cart-table__unit-price">25 490 Kč / ks</span>
                                    {# <span class="cart-table__discount"></span> #}
                                </div>
                            </div>
                        </div>
                        {# <button class="cart-table__item-cancel cart-table__item-cancel--mobile" type="button">
                            <i class="cart-table__item-cancel-icon las la-times"></i>
                        </button> #}
                    </td>
                    <td class="cart-table__td cart-table__td--qty">
                        <span class="cart-table__mobile-label">Počet</span>
                        <span class="cart-table__qty">1</span>
                    </td>
                    <td class="cart-table__td cart-table__td--price-no-vat">
                        <span class="cart-table__mobile-label">Cena bez DPH</span>
                        <div class="cart-table__price-no-vat-wrapper">
                            {# <div class="cart-table__price-no-vat cart-table__price-no-vat--discount"></div> #}
                            <div class="cart-table__price-no-vat">21 066 Kč</div>
                        </div>
                    </td>
                    <td class="cart-table__td cart-table__td--price-vat">
                        <span class="cart-table__mobile-label">Cena s DPH</span>
                        <div class="cart-table__price-vat-wrapper">
                            {# <div class="cart-table__price-vat cart-table__price-vat--discount"></div> #}
                            <div class="cart-table__price-vat">25 490 Kč</div>
                        </div>
                    </td>
                    <td class="cart-table__td cart-table__td--cancel">
                        {# <button class="cart-table__item-cancel" type="button">
                            <i class="cart-table__item-cancel-icon las la-times"></i>
                        </button> #}
                    </td>
                </tr>
                <tr class="cart-table__tr cart-table__tr--product">
                    <td class="cart-table__td cart-table__td--product">
                        <div class="cart-table__product">
                            <a class="cart-table__img-link" href="">
                                <img class="cart-table__img" src="{{ assets_url }}/products/fotak2.jpg" alt="">
                            </a>
                            <div class="cart-table__description cart-table__description">
                                <a class="cart-table__link" href="">Fujifilm X-T10 + 18-55 mm</a>
                                <div class="cart-table__unit-price-wrapper">
                                    <span class="cart-table__unit-price">18 290 Kč / ks</span>
                                    <span class="cart-table__discount">sleva 10 %</span>
                                </div>
                            </div>
                        </div>
                        {# <button class="cart-table__item-cancel cart-table__item-cancel--mobile" type="button">
                            <i class="cart-table__item-cancel-icon las la-times"></i>
                        </button> #}
                    </td>
                    <td class="cart-table__td cart-table__td--qty">
                        <span class="cart-table__mobile-label">Počet</span>
                        <span class="cart-table__qty">1</span>
                    </td>
                    <td class="cart-table__td cart-table__td--price-no-vat">
                        <span class="cart-table__mobile-label">Cena bez DPH</span>
                        <div class="cart-table__price-no-vat-wrapper">
                            <div class="cart-table__price-no-vat cart-table__price-no-vat--discount">13 510 Kč</div>
                            <div class="cart-table__price-no-vat">15 115 Kč</div>
                        </div>
                    </td>
                    <td class="cart-table__td cart-table__td--price-vat">
                        <span class="cart-table__mobile-label">Cena s DPH</span>
                        <div class="cart-table__price-vat-wrapper">
                            <div class="cart-table__price-vat cart-table__price-vat--discount">16 350 Kč</div>
                            <div class="cart-table__price-vat">18 290 Kč</div>
                        </div>
                    </td>
                    <td class="cart-table__td cart-table__td--cancel">
                        {# <button class="cart-table__item-cancel" type="button">
                            <i class="cart-table__item-cancel-icon las la-times"></i>
                        </button> #}
                    </td>
                </tr>

                <tr>
                    <td class="cart-table__divider-wrapper" colspan="5"><div class="cart-table__divider cart-table__divider--border"></div></td>
                </tr>

                <tr>
                    <td class="cart-table__td cart-table__td--select" colspan="2">
                        <div class="cart-table__delivery">
                            <label class="cart-table__label" for="cart-delivery"><i class="cart-table__label-icon cart-table__label-icon--delivery las la-truck"></i>Doprava</label>
                            <div class="cart-table__info cart-table__info--delivery">
                                <div class="cart-table__delivery-option">Zásilkovna (výdejní místo)</div>
                                <div class="cart-table__delivery-place">Praha 2, Rumunská 28, Antikvariát Vinohradská, v suterénu</div>
                            </div>
                        </div>
                    </td>
                    <td class="cart-table__td cart-table__td--price-no-vat">
                        <span class="cart-table__mobile-label">Cena bez DPH</span>
                        <span class="cart-table__price-no-vat">40 Kč</span>
                    </td>
                    <td class="cart-table__td cart-table__td--price-vat">
                        <span class="cart-table__mobile-label">Cena s DPH</span>
                        <span class="cart-table__price-vat">49 Kč</span>
                    </td>
                </tr>
                <tr>
                    <td class="cart-table__td cart-table__td--select" colspan="2">
                        <div class="cart-table__payment">
                            <label class="cart-table__label" for="cart-delivery"><i class="cart-table__label-icon cart-table__label-icon--payment las la-credit-card"></i>Platba</label>
                            <div class="cart-table__info">
                                <div class="cart-table__payment-option">Online platba (Comgate)</div>
                            </div>
                        </div>
                    </td>
                    <td class="cart-table__td cart-table__td--price-no-vat">
                        <span class="cart-table__mobile-label">Cena bez DPH</span>
                        <span class="cart-table__price-no-vat">17 Kč</span>
                    </td>
                    <td class="cart-table__td cart-table__td--price-vat">
                        <span class="cart-table__mobile-label">Cena s DPH</span>
                        <span class="cart-table__price-vat">20 Kč</span>
                    </td>
                </tr>

                <tr>
                    <td class="cart-table__divider-wrapper" colspan="5"><div class="cart-table__divider"></div></td>
                </tr>

                <tr class="cart-table__tr-empty" style="display: none;">
                    <td colspan="5">
                        <div class="cart-table__empty" style="display: none;">
                            <i class="cart-table__empty-icon las la-meh"></i>
                            <div class="cart-table__empty-text">Nemáte žádné zboží v košíku.</div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="cart-table__tr cart-table__tr--sum"> 
                    <td class="cart-table__td cart-table__td--sum" colspan="2">
                        <span class="cart-table__total-label">Cena celkem</span>
                        <div class="cart-table__promo">
                            <div class="promo-code">
                                <div class="promo-code__code">Slevový kód: SLEVA10 (10 %)</div>
                            </div>
                        </div>
                    </td>
                    <td class="cart-table__td cart-table__td--price-no-vat">
                        <span class="cart-table__mobile-label">Cena bez DPH</span>
                        <span class="cart-table__price-no-vat">36 193 Kč</span>
                    </td>
                    <td class="cart-table__td cart-table__td--price-vat">
                        <span class="cart-table__mobile-label">Cena s DPH</span>
                        <span class="cart-table__price-vat">44 369 Kč</span>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="cart-form-wrapper">
            <form class="cart-form">

                <div class="cart-form__summary">
                    <h2 class="cart-form__title">Fakturační adresa</h2>
                    <div class="cart-form__summary-address">
                        <div>Franta Pepa Jednička</div>
                        <div>Klusáčkova 8</div>
                        <div>642 12 Brno</div>
                        <div>Czech Republic</div>
                    </div>
                    <div class="cart-form__summary-contact">
                        <div>Tel.: +420 123 456 789</div>
                        <div>E-mail: franta@pepa.com</div>
                    </div>
                </div>

                <div class="cart-form__summary">
                    <h2 class="cart-form__title">Dodací adresa</h2>
                    <div class="cart-form__summary-address">
                        <div>Franta Pepa Jednička</div>
                        <div>Klusáčkova 8</div>
                        <div>642 12 Brno</div>
                        <div>Czech Republic</div>
                    </div>
                </div>

                <div class="cart-form__summary">
                    <h2 class="cart-form__title">Poznámka</h2>
                    <div class="cart-form__note">
                        <p>Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Aenean id metus id velit ullamcorper pulvinar.</p>
                    </div>
                </div>

            </form>
        </div>

    </div>
{% endblock %}
